@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-header: "Lora", serif;
  --font-main: "Noto Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2,
h3 {
  font-family: var(--font-header);
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

header {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3.8rem;
}

header::before {
  content: "";
  background-color: gray;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  margin: -3.8rem;
  clip-path: polygon(0 0, 100% 0, 100% 25%, 0 100%);
}

.main-pic-cont {
  position: relative;
  width: 390px;
  height: 450px;
}

.main-pic {
  width: 390px;
  height: 450px;
  object-fit: cover;
  object-position: top;
}

.header-second-cont {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  font-family: var(--font-main);
  font-size: 1.2rem;
}

.header-second-cont h2,
.about-me-text {
  padding-bottom: 1.6rem;
}

.about-me-nav-cont {
  display: flex;
  justify-content: end;
  gap: 12px;
  width: 100%;
  font-size: 22px;
}

.devicon-twitter-original {
  font-size: 20px;
}

.devicon-github-original {
  font-size: 1.6rem;
}

h1 {
  width: 100%;
  position: absolute;
  color: white;
  bottom: 3px;
  text-align: center;
  font-family: var(--font-header);
  font-size: 2.4rem;
  font-weight: normal;
}

main {
  padding: 3.8rem;
  font-family: var(--font-main);
  font-size: 1rem;
}

.projects {
  align-self: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card-nav-cont {
  display: flex;
  justify-content: space-between;
}

.project-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

footer {
  height: 100vh;
  display: flex;
  background-color: gray;
  justify-content: space-between;
  gap: 1.2rem;
  padding: 3.8rem;
  font-family: var(--font-main);
  font-size: 1.2rem;
}

.footer-first-cont {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-details {
  padding: 1.2rem 0;
}

.contact-details > * {
  padding: 0.4rem 0;
}

picture {
  width: 390px;
}

.footer-pic {
  width: 100%;
  height: 450px;
  object-fit: content;
  object-position: top;
}

a {
  text-decoration: none;
}

.icon {
  width: 1.6rem;
  vertical-align: top;
}
